.forotpbut{
    border-width: 5000px;
}

.sec{
  text-align: center;
  background-color: rgba(12, 18, 93, 255);
  min-height: 100%;
}


.sec .first{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* .sec .first .third{
    font-family: 'Nunito', sans-serif;
    color: #384047;
    opacity: 0.9;
} */
.welcomecss{
    color: #fff;
}
.thankscss{
    color: #fff !important;
}
.sec .first .third{
    min-width: 300px;
    height: 85vh;
    margin-top: 80px;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    overflow: visible;
}

.sec .first .third .formkacss{
    background: none !important;
    margin-top: 40px;
    display: grid;
    grid-area: auto;
}

/* .sec .first .third .secondotp{
    min-width: 300px;
    margin-top: 80px;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
} */




.sec .first .third form .thank{
    color: beige;
    padding-bottom: 8px;
    line-height: 1.2em;
}

.sec .first .third form fieldset{
    line-height: 1.3em;
    margin-left: 15px;
}

.sec .first .third form .inputformain{
    margin-left: 3em;
    margin-bottom: 2em;
    padding: 0 -20px 0 20px;
    width: 15em;
    height: 1.4em;
    line-height: 0.5em;
    border-radius: 8px;
    color: #171515;
}

.forotpbut{
    padding: 5px 5px;
    color: #FFF;
    background-color: #007100;
    font-size: 18px;
    border-radius: 6px;
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    border: 1px solid #007100;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    margin-left: 32.5%;
}

/* .forotpbf{
    padding: 5px 5px;
    color: #FFF;
    background-color: #007100;
    font-size: 18px;
    border-radius: 6px;
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    border: 1px solid #007100;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    margin-left: 32.5%;
} */


.sec .first .third form fieldset button{
    margin-top: -30px;
}